%import model

<!DOCTYPE html>

<html>
    <body style="background-color: rgb(219, 83, 219)">
    <div align="center">

        <h1>VOLUMEN</h1>

        Podprte enote:
        <br>
        <br>
        <table style="width: 30%; background-color: white" border="2">
            <tr>
                <td style="text-align: center">l</td>
                <td style="text-align: center">dl</td>
                <td style="text-align: center">cl</td>
                <td style="text-align: center">ml</td>
                <td style="text-align: center">us gal</td>
            </tr>
        </table>
        <br>

        <form method="post">
            Količina: <input type="text" name="kolicina"> &ensp;
            Iz enote: <input type="text" name="stara_enota"> &ensp;
            V enoto: <input type="text" name="nova_enota">
            <button type="submit">Pretvori</button>
        </form>
        
        <h1>Rezultat: {{ rezultat }}</h1>

        <h2 style="color: red;">{{ napaka }}</h2>

        <h2><a href="/">Pretvarjaj drugo količino</a></h2>
    </div>
    </body>
</html>
